<div class="container-fluid mercado-angular">
    <H4>Productos en el carro</H4>
    <div class="row titles-cart">
        <div class="col-3">Producto</div>
        <div class="col-3">Precio</div>
        <div class="col-3">Cantidad</div>
        <div class="col-3">Acciones</div>
    </div>

    <div *ngFor="let product of productsInCart" class="row product-cart">
       <div class="col-3">
        <h5 class="mt-0 font-weight-bold mb-2">{{ product.title }}</h5>
        <p class="font-italic text-muted mb-0 small">{{ product.description }}</p>


       </div>
       <div class="col-3">
    
        <div class="d-flex align-items-right justify-content-between mt-1 ">
            <h6 class="font-weight-bold my-2 ">$ {{ product.price }}</h6>
        </div>

       </div>
       <div class="col-3">
   
        <div class="d-flex align-items-center justify-content-between mt-1">
            <h6 class="font-weight-bold my-2"> {{  cantidaProducto(product.id) }} </h6>
        </div>

       </div>

       <div class="col-3" >
            <button type="button"  class="btn btn-primary product-btn btn-sm"  (click)="addCartInList(product.id)" *ngIf="cantidaProducto(product.id) > 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
                Agregar unidad
            </button>
            <button (click)="elimineProdFromListCart(product.id)" *ngIf="productInCart(product.id)" type="button" class="btn btn-danger btn-sm product-btn">Quitar de carro</button>
        </div>
    </div>

    <div class="row total-cart">
        <div class="col-3">
            <div class="d-flex align-items-center justify-content-between mt-1">
                <h5 class="font-weight-bold my-2">Total</h5>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex align-items-center justify-content-between mt-1">
                <h5 class="font-weight-bold my-2">$ {{ calcularTotal() }}</h5>
            </div>
        </div>
        <div class="col-3"> </div>
        <div class="col-3"></div>
    </div>

</div>
