.product-cart{
    border: #c7c7c7;
    border-style:solid;
    background-color:rgb(253, 242, 175);
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
    
 }

 .total-cart{
    border: #c7c7c7;
    border-style:solid;
    background-color:rgb(253, 175, 175);
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
    text-align: right;
 }

 .titles-cart{
    border: #c7c7c7;
    border-style:solid;
 
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
 }

 
