<style>
    footer {
        background-color: black;
        position: relative;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        color: white;
      }
    </style>
    
    <footer>
    <div id="footer" class="footer" >
         <h5><p>Angular Avanzado - Práctica Final: App E-Comerce - Alumno: Dario J. Rodriguez </p>
        </h5>
    </div>
    </footer>