<div class="container-fluid mercado-angular">
    <div class="row fondo_titulo">

        <div class="col fondo_titulo">
            
            <h3><img src="../assets/img/logo-angular.png" /> Mercado Angular</h3>
        </div>

        <div class="col">  
            

            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="products">Productos</a>
                      </li>
                      <!--
                      <li class="nav-item">
                        <a class="nav-link" href="category">Categorías</a>
                      </li>
                      -->

                      <li class="nav-item">
                        <a class="nav-link" href="cart">
                          <img src="../assets/img/cart-50_empty.png" width="25" height="25" />
                          <!-- <i class="bi bi-cart"> </i> <img src="../assets/img/cart-50_full.png" width="25" height="25" /> -->
                        </a>
                      </li>
                      
                      <!--
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                      -->
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>



        </div>
    </div>
</div>
