


<div class="container-fluid mercado-angular">
    <H4>Todos los productos </H4>


    <div *ngFor="let product of products" class="row product">
       <div class="col-3">
        <h5 class="mt-0 font-weight-bold mb-2">{{ product.title }}</h5>
        <p class="font-italic text-muted mb-0 small">{{ product.description }}</p>
        <div class="d-flex align-items-center justify-content-between mt-1">
            <h6 class="font-weight-bold my-2">$ {{ product.price }}</h6>
        </div>

       </div>
       <div class="col-3">
        <!-- <img src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="140" class="ml-lg-5 order-1 order-lg-2">-->
        <img src="{{ product.mainImage }}" alt="Generic placeholder image" width="140" class="ml-lg-5 order-1 order-lg-2">
       </div>
       <div class="col-3">
        <p ><small>Puntuación de usuarios:</small></p>
        <ul class="list-inline small">
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            <li class="list-inline-item m-0"><i class="fa fa-star text-muted"></i></li>
        </ul>
       </div>

       <div class="col-3" >
            <button type="button"  [ngClass]="classAddingToCart(product.id)"  (click)="addCartInList(product.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
                Agregar al carro
            </button>
            <button (click)="elimineProdFromListCart(product.id)" *ngIf="productInCart(product.id)" type="button" class="btn btn-danger btn-sm product-btn">Quitar de carro</button>
            <p *ngIf="productInCart(product.id)"><small>Si desea cambiar la cantidad ir al carrito de compras.</small></p>
        </div>
    </div>
</div>

