body {background: linear-gradient(to right, #c04848, #480048);
    min-height: 100vh}


.text-gray{color: #aaa}


img{height: 170px;width: 140px;
position: relative;
padding: 10px;
}

.product-image-list{

    background-color: aqua;
}

.mercado-angular {
    background-color: rgb(255, 236, 131);

}
 .product{
    border: #c7c7c7;
    border-style:solid;
    background-color:rgb(253, 242, 175);
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
 }

 .product-btn{
    margin: 5px;
 }