<div class="container-fluid mercado-angular">
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/img/carrusel/img1.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Todos los productos</h3>
        <p>Haga clic en el menú PRODUCTOS.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/img/carrusel/img2.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Envíos con descuento</h3>
        <p>Envios con descuento para la zona de Cuyo.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>


    <!--====== PRELOADER PART START ======
    
    <div class="preloader">
        <div class="spin">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    
    PRELOADER PART START ======-->